.button{
    margin: 2px;
    padding: 2px;
    width: 100%;
    height: 40px;
    font-family: $raleway;
    font-weight: bold;
    display: inline;
    border: none;
    //INICIAR SESION
    &--login:focus{
      background-color: $lavender-gray;
      color: $white;
    }
    &--login{
    background-color: $white;
    color: $nickel;
    }
    &--login:hover{
      background-color: $lavender-gray;
      color: $white;
    }
    //REGISTRARSE
    &--sign-up{
      background-color: $ball-blue;
      color: $white;
    }
    &--sign-up:hover{
      background-color: $middle-blue;
      color: $white;
    }
   }
   
   