// First paletts colors
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Second paletts colors
$dark-salmom: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

//Third paletts colors
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-laggon: #B1E4EB;

//Fourth paletts colors
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

//Fifth paletts colors
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

//Typography
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Weight Font
$bold: 700;
$regular: 400;

//Size Font
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;

// breakpoints
$min-tablet: 768px;
$min-laptop: 992px;
$min-large: 1200px;
